<form method="post" action="/store" enctype="multipart/form-data" style="text-align:center">
    <div class="container">
        <div class="row">

            <h1>Formulario de datos</h1><br><br>
            Cedula:<br>
            <input type="text" name="txtcedula" id="txtcedula" placeholder="Documento de Identidad">
            <br><br>
            Nombre:<br>
            <input type="text" name="txtnombre" id="txtnombre" placeholder="Nombres">
            <br><br>
            Apellido:<br>
            <input type="text" name="txtapellido" id="txtapellido" placeholder="Apellidos">
            <br><br>
            Correo:<br>
            <input type="text" name="txtcorreo" id="txtcorreo" placeholder="Correo">
            <br><br>
            Telefono:<br>
            <input type="text" name="txttelefono" id="txttelefono" placeholder="Telefono">
            <br><br>
            Imagen: <br>
            <input type="file" name="txtimagen" id="txtimagen" placeholder="Imagen">
            <br>
            <br>
            <input type="submit" value="Agregar"
        </div>
    </div>
</form>